body {
    background-color: #f1f3f5;
    color: #333;
}

.card {
    border-radius: 15px;
}

.table {
    background-color: white;
}

.btn-success {
    background-color: #28a745;
    border: none;
    font-weight: 600;
}

.btn-danger {
    padding: 5px 15px;
}

h1 {
    font-weight: 700;
    color: #212529;
}